<%= @a %>
<form action="/recipes/new" method="get">

  <label name="choice_simple">Want to make something simple?<br>
    <input type="radio" name="choice_simple" value="true" checked>Yeap!</a>
    <input type="radio" name="choice_simple" value="false">Nah</a>
  </label>

  <br>

  <label name="">
    <input type="">
  </label>

  <br>

  <label name="">
    <input type="">
  </label>
  <br>

  <label name="">
    <input type="">
  </label>
  <br>
<input type="submit" name="submit" value="Now let's get Cookin'!">
</form>
