<% if session[:user_id] %>
Hi <%= current_user.first_name %>!
<% end %>
<form action="/recipes" method="get">
  <p>
    <label name="choice_quick">Want to make something quick?<br>
      <input type="radio" name="choice_quick" value="true" checked>Yeap!
    </label>
    <label name="choice_quick">
      <input type="radio" name="choice_quick" value="false">Nah
    </label>
  </p>

  <p>
    <label name="sweet_savory">Want something sweet or savory?<br>
      <input type="radio" name="sweet_savory" value="sweet" checked>Sweet
    </label>
    <label name="sweet_savory">
      <input type="radio" name="sweet_savory" value="meaty">Savory
    </label>
  </p>

  <p>
    <label name="preferred_veggie">What veggy do you enjoy?<br>
      <input type="text" name="preferred_veggie">
    </label>
  </p>

  <p>
    <label name="choice_protein">Would you like MORE PROTEIN!?<br>
      <input type="radio" name="choice_protein" value="yes"> Yes!
    </label>
    <label name="choice_protein">
      <input type="radio" name="choice_protein" value="no" checked>Nah
    </label>
  </p>

  <p>
    <label name="allergies">Have any allergies?<br>
      <label><input type="checkbox" name="allergies[dairy]" value="&allowedAllergy[]=396^Dairy-Free">Dairy</label>
      <label><input type="checkbox" name="allergies[egg]" value="&allowedAllergy[]=397^Egg-Free">Egg</label>
      <label><input type="checkbox" name="allergies[gluten]" value="&allowedAllergy[]=393^Gluten-Free">Gluten</label>
      <label><input type="checkbox" name="allergies[wheat]" value="&allowedAllergy[]=392^Wheat-Free">Wheat</label>
      <label><input type="checkbox" name="allergies[nut]" value="&allowedAllergy[]=394^Peanut-Free">Nut</label>
      <label><input type="checkbox" name="allergies[seafood]" value="&allowedAllergy[]=398^Seafood-Free">Seafood</label>
      <label><input type="checkbox" name="allergies[sesame]" value="&allowedAllergy[]=399^Sesame-Free">Sesame</label>
      <label><input type="checkbox" name="allergies[soy]" value="&allowedAllergy[]=400^Soy-Free">Soy</label>
      <label><input type="checkbox" name="allergies[sulfites]" value="&allowedAllergy[]=401^Sulfite-Free">Sulfites</label>
      <label><input type="checkbox" name="allergies[treenut]" value="&allowedAllergy[]=395^Tree Nut-Free">Treenut</label>
    </label>
  </p>

  <input type="submit" name="submit" value="Let's get Cookin'!">
</form>
<% if session[:user_id] %>
<a href="/logout">Logout!</a>
<% else %>
<a href="/login">Login</a> | <a href="/users/new">New here? </a>
<% end %>
