<form action="/users/create" method="post">

  <label name="name">Enter your name<br>
    <input type="text" name="name" placeholder="name">
  </label>

  <br>

  <label name="email">Enter your email<br>
    <input type="text" name="email" placeholder="email">
  </label>

  <br>

  <label name="password">Enter your password<br>
    <input type="password" name="password">
  </label>

  <br>

  <label name="password_confirmation">Confirm your password<br>
    <input type="password" name="password_confirmation">
  </label>

  <br>

</form>
