/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require normalize
 *= require_self
 *= require_tree .
 */


#container {width: 1000px;
            padding: 10px;
            margin: 0 auto;
            }

#header {
  background: url('header_bg.jpg') no-repeat center center fixed;
  width: 100%;
  height: 200px;
}

h1 {
    text-align: center;
    font: 4em bold 'Oswald', sans-serif;
    color: white;
    margin: 0px;
    padding: 50px;
    text-shadow: 3px 3px 3px #333;
   }

body {
  font-family: 'Bitter', serif;
  font-size: 1em;
  background: #005C12;
  color: white;
  text-shadow: 1px 1px 1px #000;
     }
a {
  color: orange;
}

input[type=text] {
  color: black;
}

/* Make custom color for form input text*/

.results img {float: left}

.shadow {
   -moz-box-shadow:    inset 0 -30px 100px #000000;
   -webkit-box-shadow: inset 0 -30px 100px #000000;
   box-shadow:         inset 0 -30px 100px #000000;
        }
